name: Build CI

on:
  push:
    paths-ignore:
      - '*.md'
    branches:
      - "*"
  pull_request:
    paths-ignore:
      - '*.md'
    branches:
      - "*"
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: compileKotlinIosSimulatorArm64
            os: macos-latest
          - target: compileKotlinMacosArm64
            os: macos-latest
          - target: compileKotlinWasmJs
            os: ubuntu-latest
          - target: compileKotlinJs
            os: ubuntu-latest
          - target: compileKotlinJvm
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-${{ hashFiles('**/.lock') }}
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@ce999babab2de1c4b649dc15f0ee67e6246c994f
        with:
          arguments: ${{ matrix.target }}